.time {
	width: 70px;
	display: inline;
}

.buttons button {
	display: none;
	margin-right: 5px;
}

li:hover .buttons button {
	display: inline;
}

.navbar-header button {
	position: absolute;
	top: 0px;
	right: 5px;
	font-size: 16px;
	margin-top: 10px;
}

.heading-form {
	display: none;
}
.heading-form .form-control {
	display: inline;
	width: 100px;
	margin: 0px;
}

.list-group-item:hover .heading-form {
	display: inline;
}

.list-group-item:hover .heading-text {
	display: none;
}
